*,html{
    padding: 0%;
    margin: 0%;
}
 @media (max-width: 768px) {
        
                    flex-direction: column;}
body{
    background-image: url(img.png);
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}
.h2{
    color: aliceblue;
    padding: 10px;
    margin: 5px;
}
.content-container{
    border-radius: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20vh;
    box-shadow:box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75); ;
}
.p-img{
    color: aliceblue;
}

.ul-navbar{
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);;
}
.li-navbar{
    background-color: aliceblue;
    list-style: none;
    font-weight: 400;
    box-shadow: box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);;
    padding: 10px;
    margin: 5px;
}
.isi{
    border-radius: 80px;
    height: 10vh;
    box-shadow:box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75); ;
}
.footer{
    border-radius: 80px;
    display: flex;
    justify-content: end;
    align-items: end;
    padding: 10%;
    margin:5%;
    height: 5vh;
    box-shadow:box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75); ;

}
.p{
  color: aliceblue;

}
.p:hover{
    background-color: rgba(90, 126, 255, 0.704);
    transition: .3s ease-in-out;
    transition-delay: .2s;
    border-radius: 10px;
}
.a-project{
    color: aliceblue;
    text-decoration: wavy;
}
